<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .title {
        font-size: 25px;
        font-weight: 500;
    }

    .content {
        font-size: 20px;
        font-weight: 500;
    }

    hr {
        border: none;
        height: 1px;
    }

    .sender {
        font-size: 20px;
        font-weight: 500;
    }

    .otp {
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 5px;
        text-align: center;
    }
</style>

<body>
    <h1 class="title">{{title}}</h1>
    <hr />
    <p class="content">Hey there!
    <p class="content">Welcome! Following is your OTP (One Time Password) for Email Verification.</p>
    <p class="otp">{{otp}}</p>
    <p class="content">The OTP is valid for just 1 minute.</p>
    <hr />
    <p class="sender">
        Regards,<br />{{name}}<br />{{organisation}}<br />{{city}}<br />{{state}}
    </p>
</body>